* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    color: white;
}

header {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@keyframes logoanimation{
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
}

.ifc_logo {
    height: 75px;
    width: 75px;
    margin-bottom: 10px;
    animation: logoanimation 8s forwards ease-in-out;
    animation-iteration-count: infinite;
}

.button_to_app {
    margin-top: 10rem;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

.button_to_app:hover{
    margin-top: 10rem;
    padding: 10px;
    color: black;
    background-color: white;
    border: 2px solid rgba(237, 164, 48, 0.895);
    border-radius: 10px;
    cursor: pointer;
}
.button_to_app:hover span{
    color: black;
    background-color: white;
}
